#  NodeJS build and deploy

#  This pipeline builds a website using NodeJS
#  and deploys it to a Bitbucket Pages repository.

image: node:24

definitions:
  steps:
    - step: &build
        name: Build
        caches:
          - node
        script:
          - corepack enable
          - yarn install
          - yarn run build
        artifacts:
          - dist/**
    - step: &lint
        name: Lint
        caches:
          - node
        script:
          - corepack enable
          - yarn install
          - yarn run lint
        artifacts:
          download: false
    - step: &security
        name: Check for secrets
        script:
          - pipe: atlassian/git-secrets-scan:3.2.0
        artifacts:
          download: false
    - step: &deploy
        name: Deploy
        script:
          - git clone https://x-token-auth:$DEPLOYMENT_TOKEN@bitbucket.org/$BITBUCKET_WORKSPACE/$BITBUCKET_WORKSPACE.bitbucket.io.git
          - cd $BITBUCKET_WORKSPACE.bitbucket.io
          - TARGET_PATH=$DEPLOYMENT_PATH_PREFIX/$BITBUCKET_REPO_SLUG
          - mkdir -p $TARGET_PATH
          - rm -rf $TARGET_PATH/*
          - cp -r ../dist/* $TARGET_PATH/
          - if git diff --quiet --exit-code; then echo 'No changes to deploy'; exit; fi
          - git status
          - git config user.email $DEPLOYMENT_USER_EMAIL
          - git commit -am "$DEPLOYMENT_COMMIT_MESSAGE from $BITBUCKET_REPO_SLUG"
          - git push

pipelines:
  branches:
    main:
      - parallel:
        - step: *lint
        - step: *build
        - step: *security

      - stage:
          name: Deploy to Staging
          deployment: staging
          steps:
            - step: *deploy

      - stage:
          name: Deploy to Production
          deployment: production
          trigger: manual
          steps:
            - step: *deploy

  pull-requests:
    "**":
      - parallel:
        - step: *lint
        - step: *build
        - step: *security
